Source: qubes-mgmt-salt-base-overrides
Section: admin
Priority: extra
Maintainer: Jason Mehring <nrgaway@gmail.com>
Build-Depends:
    debhelper (>= 9~),
    quilt
Standards-Version: 3.9.5
Homepage: http://www.qubes-os.org

Package: qubes-mgmt-salt-base-overrides
Section: admin
Architecture: all
Depends:
    qubes-mgmt-salt
Description: Custom modules to override existing Salt modules due to upstream bugs or implementation conflicts.
